* {
    align-items: center;
    justify-content: center;

}

.subheadings {
    display: flex;
    color: white;
    background-color: black;
    margin: 50px;
    border: 10px solid gold;
    padding: 10px;
}

.flex-container {
    display: flex;
    background-color: lightblue;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
  
.flex-container div {
    background-color: peachpuff;
    border: 2px solid brown;
    height: 30px;
    flex: 1;
    padding: 10px;
    margin: 20px;
}

h1, p, .pics {
    display: flex;
    flex-direction: column;
}