html, body {
    min-height: 100%;
    margin: 0;
    background-color: #828ce7;
    
}

.info {
    color: white;
    background-color: black;
    margin: 50px;
    border: 10px solid gold;
    padding: 10px;
}

.subheadings {
    display: flex;
    color: white;
    background-color: black;
    margin: 50px;
    border: 10px solid gold;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.flex-container {
    display: flex;
    background-color: rgb(204, 196, 207);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
  
.flex-container div {
    background-color: rgb(245, 163, 96);
    border: 2px solid brown;
    height: auto;
    width: auto;
    flex: 1;
    padding: 20px;
    margin: 20px;
}

.pics{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

}