* {
    align-items: center;
    justify-content: center;

}

.summary {
    display: flex;
    color: rgb(194, 93, 5);
    background-color: rgb(46, 196, 46);
    margin: 50px;
    border: 10px solid gold; 
    padding: 10px;
}

.subheadings {
    display: flex;
    color: white;
    background-color: black;
    margin: 50px;
    border: 10px solid gold;
    padding: 10px;
}

h1, p, ol, .pics {
    display: flex;
    flex-direction: column;
}